# User-specific files
*.user
*.suo
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Visual Studio files
.vs/
*.csproj.vspscc
*.vssscc
*.vspscc
.codex

# Rider files
.idea/

# Dotnet files
project.lock.json
project.assets.json

# Tooling
*.jess
*.dotcover
*.resharper
_ReSharper*/
.devspace/
.oracle/
*.diagsession

# Ignore JetBrains Rider files
*.sln.iml

# Runtime output
debug.log

# Local generated icon scratch space
Images/TrayIcons/
